.body{
    margin: 1%;
    padding: 1%;
}


.jumbotron-fluid{
    background-image: url(/images/h-image.jpeg);
    background-size: cover;
    border: solid black;
}
.logo-d{
    position: relative;
    top: 600px;
}
.h2-title{
    font-family: fantasy;

}
.menu{
    background-image: url(/images/wood-background.jpeg);
    background-size: cover;
    border: solid black;
    width: 200%;
}
.caption-1{
    position: relative;
    left: 170px;
}